$white: #fefcfb;
$gray: #6e6e6e;
$black: #040303;
$blue: #0c1b33;
$green: rgb(23, 190, 187);
$light-gradient: linear-gradient(45deg, rgba(154, 221, 241, 0.45), rgba(2, 101, 131, 0.65));
$blue-light: #16bac5;
