@media (min-width: 768px) {
	//header
	.header {
		&__logo {
			left: 25%;
			top: 30%;
			.logo {
				width: 280px;
				height: 280px;
			}
		}

		&__text {
			position: relative;
			display: flex;
			padding: 0 4em;
			top: 75%;
			justify-content: start;
			h1 {
				font-size: 2.4rem;
				text-align: left;
			}
		}
	}
	//o mnie
	.aboutme {
		h3 {
			font-size: 2.4rem;
		}
		p {
			font-size: 1.8rem;
		}
		ul {
			font-size: 1.9rem;
		}
	}
	//oferta
	.offer {
		.wrapper {
			.container {
				margin: 0 4em;

				.boxes {
					padding: 0 2.4em;

					&__box {
						display: flex;
						width: 100%;
						flex-direction: column;

						.title {
							padding: 2em 0;
							font-size: 2rem;
						}
						.text {
							padding: 0.5em 1em;
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}
	.visit {
		.wrapper {
			.remember {
				padding: 2em 1em;
				font-size: 2rem;
			}
			.first-visit {
				font-size: 2rem;
				padding: 2em 0.5em;
			}
			h3 {
				font-size: 2.4rem;
				padding-bottom: 2em;
			}
			.container {
				flex-wrap: nowrap;
				.img {
					display: flex;

					align-items: center;
					padding: 0 2em;
					img {
						max-width: 600px;
					}
				}

				p {
					font-size: 2rem;
					padding: 2em 1em;
				}
			}
			ul {
				li {
					font-size: 1.8rem;
				}
			}
		}
	}
	.contact {
		position: relative;
		overflow: hidden;
		padding: 5em 1em;
		margin: 0 1em;
		.wrapper {
			.container {
				display: flex;
				justify-content: row;
				align-items: center;
				flex-direction: column;
				.contact-box {
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: row;
					width: 100%;
					.map-box {
						display: flex;
						align-items: flex-start;
						justify-content: flex-start;
						width: 100%;
						iframe {
							align-items: flex-start;
							justify-content: flex-start;
							max-width: 800px;
						}
					}
					.contact-text {
						display: flex;
						flex-direction: column;
						width: 100%;
						padding: 0 5em;
						h3 {
							padding: 1em 0;
							letter-spacing: 1px;
							text-align: center;
							font-size: 2.4rem;
							font-weight: bold;
							text-transform: uppercase;
						}
						p {
							padding: 0.1em 1em;
							text-align: center;
							font-size: 2rem;
							text-transform: uppercase;
						}
						i {
							padding: 0 0.5em;
						}
					}
				}
			}
		}
	}
}
